<!--
  File Name : aboutme.ejs
  Name : Divyesh Patel
  Student ID : 301169733
  Date : 10/10/2021
-->


<div class="row mx-4 my-2">
    <div class="col-md-12 text-center">
         <h1 class="text-white"><i class="far fa-user-circle"></i> About Me!</h1>
     </div>
     <div class="row mt-5 mb-5">
         <div class="col-md-3">
              <img src="/Assets/picture.jpg" class="img-fluid mb-2" alt="..." >  
         </div>
         <div class="col-md-9">
              <div class="mt-4">               
                   <p class="h3 text-white"><b><u>WELCOME TO MY PORTFOLIO!</u></b></p> <br><br>
                   <p class="h5 text-white">
                        My name is Divyesh Patel and I am from India. I am pursuing Game-Programming Fast-track course at Centennial College.
                   </p>
                   <p class="h5 text-white">
                        <br>
                        <br>
                    I love graphic designing using Blender, Photoshop, and few other tools.

               <br><br>
                   </p>
                   
              </div>
              <div class="mt-4">
                  <p class="h5 text-white">Take a look at my resume by clicking the download button below!</p><br>
                   <a href="/Assets/Divyesh_Patel_Resume.pdf" download = "Divyesh_Patel_Resume" style="text-decoration: none">
                        <button type="button" class="btn text-dark btn-lg bg-white">Download PDF <i class="fas fa-file-download"></i></button>
                   </a>
              </div>
              
         </div>
    </div>
</div>
