<!--
  File Name : bottom_nav.ejs
  Name : Divyesh Patel
  Student ID : 301169733
  Date : 10/10/2021
-->


<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid" >
        <div class="container text-center">
        <a class="navbar-brand" href="/"><span class="copyright">&copy;</span> All 2021 Rights reserved</a>
        </div>
    </div>
  </nav>