<!--
  File Name : footer.ejs
  Name : Divyesh Patel
  Student ID : 301169733
  Date : 10/10/2021
-->

<script src="Script/app.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="jquery/dist/jquery.min.js"></script>
  </body>
</html>