<!--
  File Name : header.ejs
  Name : Divyesh Patel
  Student ID : 301169733
  Date : 10/10/2021
-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/content/app.css' />
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.css' />
   
  </head>