<!--
  File Name : home.ejs
  Name : Divyesh Patel
  Student ID : 301169733
  Date : 10/10/2021
-->

<div class="col-md-12 mx-2 my-2">
    <div class="col-md-12 text-center">
        <h1 class="text-white"><i class="fas fa-praying-hands"></i> Welcome!</h1>
    <br><br><br>
            <i class="h4 text-white">"My mission is to be successful game designer or game programmer. "</i>
        </p>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5 text-center">
            
            <p class="h5 text-white">Click the below button to know about me.</p><br><br>
            <a href="/aboutme" style="color: rgb(30, 255, 0);"><div class="col">
                <button class="col btn btn-pink-moon"><b>About Me</b></button>
            </div></a> 
            
            
        </div>
        <div class="col-md-12 mt-5 text-center align-items-end">
            </div>
        </div>
    </div>
</div>