<!--
  File Name : project.ejs
  Name : Divyesh Patel
  Student ID : 301169733
  Date : 10/10/2021
-->

<div class="col-md-12 mx-2 my-2">
    <div class="col-md-12">
         <h1 class="h1 text-white text-center" style="color: rgb(2, 68, 250)" ><i class="fas fa-file-code"></i> Projects</h1>
    </div>
    <div class="row mt-5 text-center align-items-center">
         <div class="col-md-8">
              <div class="card-body" style="background-color: #111111;  box-shadow: 1px 1px 5px 3px rgb(208 187 187)">
                   <p class="h3" style="color: rgb(250, 246, 8);">Divertido</p>
                   <p class="h5 text-white">
                      Divertido is a classic 2D dungeon game where a player has 4 unique powers of fire, water, earth and wind which the player uses to destroy the enemies and escapes the dungeon.
                   </p>               
                 </div>
         </div>
         <div class="col-md-4">
              <div class="card d-flex flex-row-reverse" style=" box-shadow: 1px 1px 5px 3px rgb(255 255 0)">
                   <img src="Assets/project1.jpg" class="card-img-top" alt="...">
                   
              </div>
         </div>
    </div>
    <div class="row mt-5 text-center align-items-center">
        <div class="col-md-8">
             <div class="card-body" style="background-color: #111111;  box-shadow: 1px 1px 5px 3px rgb(208 187 187)">
                  <p class="h3" style="color: rgb(255, 238, 0);">3D Character</p>
                  <p class="h5 text-white">
                     I am working on a 3D character design in my lesiure time and its almost completed. I used blender to create it and it takes so much time to render eveytime.
                  </p>               
                </div>
        </div>
        <div class="col-md-4">
             <div class="card d-flex flex-row-reverse" style=" box-shadow: 1px 1px 5px 3px rgb(255 255 0)">
                  <img src="Assets/project2.png" class="card-img-top" alt="..." width="400" height="400">
                  
             </div>
        </div>
   </div>


    <div class="row mt-5 text-center align-items-center">
     <div class="col-md-8">
          <div class="card-body" style="background-color: #000103;  box-shadow: 1px 1px 5px 3px rgb(208 187 187)">
               <p class="h3" style="color: rgb(255, 251, 7);">Mirror</p>
               <p class="h5 text-white">
                  Mirror is a 2D game where it can reflect the actions performed by enemies and destroy them. The difficulty is that player can only reflect one time and then has to wait until the mirror recharges reflection power.
               </p>               
             </div>
     </div>
     <div class="col-md-4">
          <div class="card d-flex flex-row-reverse" style=" box-shadow: 1px 1px 5px 3px rgb(255 255 0)">
               <img src="Assets/project3.png" class="card-img-top" alt="...">
               
          </div>
     </div>
</div>


    
    
         </div>
    </div>
</div>